.footer {
    background-color: $grey;
    position: relative;
    padding: 70px 0 80px;

    @media (max-width: 767px) {
        padding-bottom: 0;
    }

    .map {
        width: 50%;
        position: absolute!important;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;

        .gm-style a,
        .gmnoprint {
            display: none!important;
        }

        @media (max-width: 767px) {
            position: relative!important;
            height: 250px;
            width: 100%;
        }
    }

    .wrapper {
        text-align: left;

        @media (max-width: 767px) {
            .col-6 {
                width: 100%;
            }
        }
    }

    &-title {
        font-size: 36px;
        text-transform: uppercase;

        @media (max-width: 767px) {
            font-size: 30px;
        }

        &:after {
            content: '';
            width: 100px;
            height: 4px;
            background-color: $red;
            display: block;
            margin-top: 20px;
        }
    }

    &-subtitle {
        font-size: 20px;
        letter-spacing: 0.02em;
        line-height: 26px;
        font-weight: 600;
        margin: 20px 0;

        @media (max-width: 767px) {
            font-size: 18px;
        }
    }

    &-info {
        font-size: 18px;
        margin-bottom: 28px;

        @media (max-width: 767px) {
            font-size: 16px;
        }

        p:not(:last-child) {
            margin-bottom: 15px;
        }

        a {
            color: #1a7ceb;
            text-decoration: underline;
        }
    }

    .order-form {
        @media (max-width: 991px) {
            .col-6 {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        @media (max-width: 767px) {
            margin-bottom: 70px;

            .col-6 {
                width: 50%;
            }
        }

        @media (max-width: 500px) {
            margin-bottom: 50px;
            padding: 30px 15px;

            br {
                display: none;
            }

            .col-6 {
                width: 100%;
            }
        }
    }

}