.offer {
    height: 705px;
    padding-top: 90px;
    padding-bottom: 20px;
    max-height: 100%;
    @include flex($direction: column, $alignI: center, $justify: center);
    
    background-image: url("../images/offer-main.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    h1 {
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    &__info {
        width: calc(100% - 370px);
        min-width: 200px;
        & > p {
            font-size: 30px;
            font-weight: 600;
        }
    }
    .form {
        width: 370px;
    }
    .wrapper {
        @include flex($alignI: flex-end);
        text-align: left;
        color: #FFF;
        padding: 0;
    }
    .framed {
        margin-top: 40px;
    }
}

.framed {
    width: 330px;
    max-width: 100%;
    @include flex($wrap: nowrap);
    &__num {
        border: 8px solid $red;
        height: 120px;
        min-width: 120px;
        padding: 0 4px;
        line-height: 110px;
        text-align: center;
        font-size: 42px;
        font-weight: 800;
        color: $red;
    }
    p {
        font-size: 18px;
        padding-left: 30px;
    }
}

.form {
    width: 370px;
    padding: 35px 40px 40px;
    text-align: center;
    color: #3D3D3D;
    font-size: 16px;
    background-color: #FFF;
    &__title {
        font-size: 26px;
        color: #d60b52;
        font-weight: 800;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    p {
        margin-bottom: 25px;
        span {
            color: #d60b52;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    input {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #EBEBEB;
        padding-left: 15px;
        height: 45px;
        font-size: 14px;
        color: #999;
    }
    button {
        width: 100%;
    }
}

.explain-list {
    @include flex($justify: flex-start);
    &__item {
        width: 16.666%;
        text-align: center;
        padding: 0 10px;
        margin: 30px 0;
        &__img {
            display: block;
            margin-bottom: 12px;
            img {
                display: block;
                margin: 0 auto;
            }
            &:after {
                content: "";
                display: block;
                margin: 12px auto 0;
                width: 30px;
                height: 2px;
                background-color: $red;
            }
        }
        p {
            font-size: 16px;
            line-height: 22px;
        }
    }
    .framed-text {
        width: 50%;
        padding-left: 75px;
        text-align: left;
        position: relative;
        &:before {
            content: '';
            width: 120px;
            height: 120px;
            border: 10px solid #d60b52;
            position: absolute;
            top: 50%;
            left: 10px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            z-index: -1;
        }
        p {
            background-color: #FFF;
            font-weight: 600;
            font-size: 22px;
            padding: 4px 0 8px;
            span {
                font-weight: 700;
                font-size: 26px;
                display: block;
            }
        }
    }
}


.appreciated-map {
    background-image: url("../images/map-bg.jpg");
}

.location-map {
    margin: 0 auto;
    width: 980px;
    max-width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("../images/location-map.png");
    -webkit-background-size: auto 100%;
         -o-background-size: auto 100%;
            background-size: auto 100%;
    &:after {
        display: block;
        content: "";
        padding-top: 53%;
    }
    p {
        width: 420px;
        position: absolute;
        left: 47%;
        top: 47%;
        color: #FFF;
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        text-align: left;
        span {
            font-weight: 800;
            text-transform: uppercase;
        }
    }
}