// COLORS
// ---------------------------
$text:                  #3d3d3d;
$red:                   #d60b52;
$green:                 #95C11F;
$grey:                  #F7F7F7;

// FONTS
// ---------------------------


// RESPONSIVE
// ---------------------------
